name: CI

on:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - Templates/**
      - README.md
      - LICENSE
      - Rambafile
  pull_request:
    branches:
      - develop
    paths-ignore:
      - Templates/**
      - README.md
      - LICENSE
      - Rambafile

env:
  DEVELOPER_DIR: /Applications/Xcode_12.app/Contents/Developer

jobs:
  test:
    runs-on: macOS-latest
    env:
      MINT_PATH: mint/lib
      MINT_LINK_PATH: mint/bin

    steps:
    # チェックアウト
    - uses: actions/checkout@v2

    # Xcodeの一覧出力
    - name: Show Xcode list
      run: ls /Applications | grep 'Xcode'

    # Xcodeのバージョン出力
    - name: Show Xcode version
      run: xcodebuild -version

    # Mintで管理しているライブラリのキャッシュ復元
    - name: Cache Mint packages
      uses: actions/cache@v1
      with:
        path: mint
        key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
        restore-keys: |
          ${{ runner.os }}-mint-

    # SPMで管理しているライブラリのキャッシュ復元
    - name: Cache SPM packages
      uses: actions/cache@v2
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
          
    # ブートストラップ
    - run: make bootstrap

    # プロジェクト
    - run: make project
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # ビルド
    - name: Xcode build
      run: make build-debug

    # 端末の一覧出力
    - name: Show devices
      run: make show-devices

    # 単体テストの実行
    - name: Xcode test
      run: make test
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.2.1
